<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
Hello Shariar, Its your first template!
<h1>Welcome to the text analyzer. Enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin:0px; width:721px; height:93px;'></textarea>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="charcount"> Character count<br>
    <input type="checkbox" name="spaceremove"> Remove space<br>
    <input type="checkbox" name="newlineremove"> Remove newline<br>
    <input type="checkbox" name="capitalfirst"> Capital first<br>
    <button type='submit'>Analyze Text</button>
    </form>
</body>
</html>